
body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	margin: auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
	text-align: center;
}

td{
	text-align: left;
}

